<li class="py-4" id="list-item-edit-{{.ID}}">
    <form class="flex items-center" hx-put="/update/{{.ID}}" hx-target="#list-item-edit-{{.ID}}" hx-swap="outerHTML">
        <div class="ml-3 block text-gray-900 grow">
            <input
                class="appearance-none bg-transparent border-none w-full text-lg font-medium text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                type="text" placeholder="Task title" name="title" value="{{.Title}}" required>
            <input
                class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                type="text" placeholder="Task description" name="description" value="{{.Description}}">
        </div>
        <button title="Save" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110" type="submit">
            ✔️
        </button>
    </form>
</li>